<nav>
    <a href="https://github.com/tnguy241-sketch">GitHub</a> |
    <a href="https://webpages.charlotte.edu/tnguy241/">CLT Webpage</a> |
    <a href="https://tnguy241-sketch.github.io/">GitHub.io</a> |
    <a href="itis3135/">ITIS3135</a> |
    <a href="https://www.linkedin.com/in/tan-nguyen-b94867346/">LinkedIn</a> |
    <a href="trickynarwhal/">Whimsical Company</a>
</nav>
<p>Page Built By <a href="nguyenco.com/">Nguyen Co. </a>&copy; 2025</p>
<a href="https://www.validator.w3.org/check?uri=referer" id="validation-link-html">
    <img src="https://cdn.voison.link/divonb/htmlValidationButton.png" alt="valid HTML">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img src="https://cdn.voison.link/divonb/cssValidationButton.png" alt="valid CSS">
</a>